.sublinhar{
    
    text-decoration:underline;
    color:red;
}
#fundo{
    background-color: rgb(158, 118, 90);
    font-size: 40px;
    
}
#fundacao{
   border: 3px solid black;
   border-radius: 10px;
}
#carlos{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom:20px ;
    padding: 30px;
   
    align-content: center;
    align-items: center;
    
}
#dona{
    background-color: aquamarine;
    margin: 20px;
    padding: 20px;
}