body{
    margin: 0;
    background-color: rgba(252, 143, 0, 0.411);
    font-family: sans-serif;
}
.cabecalho{
    margin: 0px 0;
    background-color: rgb(255, 0, 0);
}
nav{
    width: 205vh;
    padding: 20px;
    position: fixed;
    background-color: rgb(56, 47, 47);
    text-align: center;
    opacity: 0.8;
}
nav a{
    color: aliceblue;
    font-family: sans-serif;
    text-decoration: none;
    padding: 50px 20px 21px;
    
}
nav a:hover{
    background-color: rgba(121, 113, 91, 0.507);
}